
*{
    box-sizing: border-box;
   
}
body{
    background:linear-gradient(to bottom, #5BC9FF , #2b43dd 30%, #5BC9FF );
    margin: 0;
    padding: 0;
    height: 200%;
}


hr.hr-shadow{
    height: 6px;
    background:transparent;
    box-shadow: 2px 3px 4px black inset;
    margin: 0;
}

/* CSS do logo tipo*/


img#logotipo{

    width: 8%;
    margin: 0;
    padding: 0;
     height: 8%;
     
}
/* Sobre Min --inicio-- */

    
    

div.container.caixa_texto{
    height: 25%;
    margin: 10%;
    width: 100%;
    padding-top: 5%;
}
div#bc{
    margin: 15px 42.5%;
    height: 25%;
}
.btn {
    background-color: rgb(211, 214, 218);
    border: none;
    color: white;
    padding: 7px 15px;
    cursor: pointer;
    font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: rgb(166, 167, 170);
}

/*Inicio da Timeline */
h1.lt{
    
    text-align: center;
   margin: 0;
   padding: 2%;

}

div.container.tmp {
    background-color:liner-gradient(to right,rgb(109, 152, 233),rgba(71, 88, 238, 0.932));
    font-family: Helvetica,
        sans-serif;
        padding: 0;
       height: 25%;
        
        
       
}
/*linha do tempo em vestical*/
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

}

.timeline::after {
    content: '';
    position: absolute;
    width: 5px;
    background-color: transparent;
    box-shadow: 1px 1px 5px black inset;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
/* preparando o recipiente */
div.container .pj{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    
}

/* Criando os circulos da linha do tempo */
div.container .pj::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: rgb(224, 31, 31);
    box-shadow: 1px 1px 10px black ;
    border: 4px solid #f1eeeb;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* colocando o conteiner a esquerda */
.left {
    right: 0.5%;
    margin: 0;
}
/* colocando o conteiner a direita */
.right {
    left: 25.3%;
}

/* Adiciona setas ao container esquerdo (apontando para a direita) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgb(138, 133, 133);
    
}

/* Adiciona setas ao container direita (apontando para a esquerda) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(138, 132, 132) transparent transparent;
}

/* Corrige o círculo para contêineres do lado direito */
.right::after {
    left: -15px;
}

/*a caixa de conteudo*/
.content {
    padding: 20px 30px;
    background-color: white;
    
    position: relative;
    border-radius: 6px;
    box-shadow: 1px 1px 10px #000000;
    
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
div.container.sobre-mim {
    height: 30%;
    width: 100%;
    margin: 35% 0 30% 0;

}
div#bc {
    margin: 0;
    
    height: 30%;
}

    .container.tmp{
    width: 98%;

}
    /* Coloca a timeline à esquerda */
    .timeline::after {
        left: 7.5%;
    }

    /* Contêineres de largura total */
    .container .pj{
        width: 100%;
        padding-left: 70px;
        padding-right: 30px;
       right: 20%;
    }
    .content{
width: 120%;
    }

    /* Verifique se todas as setas estão apontando para a esquerda */
    .container .pj::before {
        top: 18px;
        left: 25px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent rgb(156, 152, 152) transparent transparent;
        
    }

/* Verifique se todos os círculos estão no mesmo local */
    .left::after, .right::after {
       left: 0;
       
    }
.left{
    left:20px;
}
/* Faz com que todos os containers certos se comportem como os da esquerda */
    .right {
      left: 20px;
      margin: 0;
    }
}